body {
  width: 500px;
  height: 300px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  background-color: #f3f3f3;
  color: #3e3e3e;
}
img {
  cursor: pointer;
}

button,
input[type=submit],
input[type=button] {
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
  width: 120px;
  padding: 8px 10px;
}
input[type=button]:disabled {
  opacity: 0.5;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[flex="2"] {
  flex: 2;
}
[pack=center] {
  justify-content: center;
}
[align=center] {
  align-items: center;
}
body[data-status=connecting] img[data-cmd=connection] {
  opacity: 0.3;
}

#log {
  padding: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(47vw - 20px);
  background-color: #fff;
}
#log > * {
  word-break: break-word;
  padding: 2px 5px;
  font-size: 12px;
}
#log > *:not(:last-child) {
  margin-bottom: 2px;
}
#toolbar {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.log {
  background-color: #fff;
  padding: 0 5px;
}
.log.notice {
  background-color: #ddefff;
}
.log.warn {
  background-color: #ffe3fe;
}
.log.err {
  background-color: #ff8282;
  color: #fff;
}
