body {
  width: 500px;
  height: 300px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  background-color: #f3f3f3;
  color: #3e3e3e;
}
img {
  cursor: pointer;
}
input[type=button] {
  background-color: #dadada;
  width: 120px;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
  border: none;
}
input {
  outline: none;
}
input[type=button]:active {
  border-color: #00a;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[flex="2"] {
  flex: 2;
}
[pack=center] {
  justify-content: center;
}
[align=center] {
  align-items: center;
}
body[data-status=connecting] img[data-cmd=connection] {
  opacity: 0.3;
}

#log {
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(47vw - 20px);
  background-color: #dadada;
}
#log > * {
  word-break: break-word;
  padding: 2px 5px;
  font-size: 12px;
}
#log > *:not(:last-child) {
  margin-bottom: 5px;
}
#toolbar {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.log {
  background-color: #fff;
  padding: 0 5px;
}
.log.notice {
  background-color: #f3f3f3;
}
.log.warn {
  background-color: #ffe3fe;
}
.log.err {
  background-color: #ff8282;
  color: #fff;
}
